# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [created]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

  release-curl:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Run curl command
      run: |
        curl https://sum.golang.org/lookup/github.com/Lutz-Pfannenschmidt/mcp23017@${GITHUB_REF#refs/*/}
